#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loader {
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.circular {
  /* animation: rotate 2s linear infinite; */
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.path {
  stroke-dasharray: 1, 100;
  stroke-dashoffset: 0;
  transition: stroke-dasharray 0.5s ease 0s, stroke 0.5s ease;
}


.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #000000;
}

/* ________________________ */

#icon {
  width: 50px;
  height: 50px;
  /* background-image: url("./assets/woman.png"); */
  background-position: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover; 
}

/* q5 button */
.selected {
  background-color: gray;
  color: white;
}

.lineLoader-container {
  width: 100%; /* ширина контейнера лоадера */
  height: 20px; /* висота контейнера лоадера */
  border: 1px solid #ccc; /* рамка контейнера лоадера */
  overflow: hidden; /* приховуємо зовнішній контент, який виходить за межі контейнера */
}

.lineLoader {
  height: 100%; /* висота лоадера */
  background-color: #4CAF50; /* колір лоадера */
  transition: width 0.5s ease-in-out;
}
