@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
}

:root {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 17px;


  /* colors */
  --background-main: #180616;
  --purple: #36173D;
  --text-color: #F2F3F5;
  --pink: #E4229C;
  --white: #FFF;
  --loaderLine: #E8EAF2;
  --sutText: #C4C8CC;
  --textColor: #ECECFB;
  
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

ul,
ul li {
  list-style: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.checkbox {
  display: inline-block; 
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
}

.checkbox--active {
  border-color: purple;
  background: purple;
}

input::-ms-clear {
  display: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

label {
  display: flex;
  cursor: pointer;
  width: 100%;
}


body {
  background-color: var(--background-main);
  color: var(--text-color);
  padding: 20px;
  margin: 0;
  margin-bottom: 56px;
}

.horizontalSelect {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 0 0;
}

.bubbleSelect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 10px;
}


#thank {
font-family: "Niconne", cursive;
font-size: 36px;
font-weight: 400;
text-align: center;
color: var(--textColor);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loader {
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.circular {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.path {
  stroke-dasharray: 1, 100;
  stroke-dashoffset: 0;
  transition: stroke-dasharray 0.5s ease 0s, stroke 0.5s ease;
}


.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #000000;
}


